<div>
  <h2 id="page-heading" data-cy="CoursierHeading">
    <span jhiTranslate="coopcycleApp.coursier.home.title">Coursiers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="coopcycleApp.coursier.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-coursier"
        [routerLink]="['/coursier/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="coopcycleApp.coursier.home.createLabel"> Create a new Coursier </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="coursiers?.length === 0">
    <span jhiTranslate="coopcycleApp.coursier.home.notFound">No coursiers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="coursiers && coursiers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="coopcycleApp.coursier.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="surname">
            <span jhiTranslate="coopcycleApp.coursier.surname">Surname</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="transportMean">
            <span jhiTranslate="coopcycleApp.coursier.transportMean">Transport Mean</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="phone">
            <span jhiTranslate="coopcycleApp.coursier.phone">Phone</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user.login">
            <span jhiTranslate="coopcycleApp.coursier.user">User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let coursier of coursiers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/coursier', coursier.id, 'view']">{{ coursier.id }}</a>
          </td>
          <td>{{ coursier.name }}</td>
          <td>{{ coursier.surname }}</td>
          <td>{{ coursier.transportMean }}</td>
          <td>{{ coursier.phone }}</td>
          <td>
            {{ coursier.user?.login }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/coursier', coursier.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/coursier', coursier.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(coursier)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
